/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-around;
	align-items:center;
	
}
img{
	width:400px;
	height:300px;
	object-fit:cover;
}
button{
	padding:5px;
	background-color:red;
	color:white;
	border-radius:10px;
}